@charset "utf-8"; 

/* ==================================================
	공통레이아웃
================================================== */

html,body,th,td,input,select,textarea,button {
    font-family: var(--font-family-base);
}

body {
    background: #f1f1f1;
    color: var(--font-base-color);
}

#header, 
#footer {
    width:100%;
}

.body  {
    width:100%; 
    max-width: var(--inner-max-width); 
    height:auto; 
    margin:0 auto;
}

.body.big {
    max-width: var(--inner-max-width-big); 
}

.body.small {
    max-width: var(--inner-max-width-small); 
}

body.gnb-open {
    overflow: hidden;
}

.inner {
    width:100%; 
    padding: 0 var(--rem-20px);
    box-sizing:border-box;
}

section .inner {
    width:100%; 
    padding: var(--rem-80px) var(--rem-20px);
    box-sizing:border-box; 
}

/* ==================================================
                    Utility
================================================== */

/***** Margin *****/

.ml-0 { margin-left: 0 !important;}
.mr-0 { margin-right: 0 !important;}
.mb-0 { margin-bottom: 0 !important;}

.m0-auto { margin: 0 auto !important;}
.mt-auto { margin-top: auto !important;}
.ml-auto { margin-left: auto !important;}
.mr-auto { margin-right: auto !important;}
.mb-auto { margin-bottom: auto !important;}
.margin-0 { margin: 0 !important;}

.mt-5 { margin-top: 5px !important;}
.mt-10 { margin-top: 10px !important;}
.mt-20 { margin-top: 20px !important;}
.mt-30 { margin-top: 30px !important;}
.mt-40 { margin-top: 40px !important;}
.mt-50 { margin-top: var(--rem-50px) !important;}

.mb-5 { margin-bottom: 5px !important;}
.mb-10 { margin-bottom: 10px !important;}
.mb-20 { margin-bottom: 20px !important;}
.mb-30 { margin-bottom: 30px !important;}
.mb-40 { margin-bottom: 40px !important;}
.mb-50 { margin-bottom: 50px !important;}


/***** Padding *****/

.pt-0 { padding-top: 0 !important;}
.pl-0 { padding-left: 0 !important;}
.pr-0 { padding-right: 0 !important;}
.pb-0 { padding-bottom: 0 !important;}

.p-0 { padding: 0px !important; }
.p-20 { padding: 20px !important; }
.p-40 { padding: 40px !important; }
.p-60 { padding: 60px !important; }
.p-80 { padding: 80px !important; }
.p-100 { padding: 100px !important; }
.p-150 { padding: 150px !important; }
.p-200 { padding: 200px !important; }
.p-250 { padding: 250px !important; }
.p-300 { padding: 300px !important; }
.p-350 { padding: 350px !important; }

.ptb-100 { padding: 100px 0 !important; }
.ptb-150 { padding: 150px 0  !important; }
.ptb-200 { padding: 200px 0  !important; }
.ptb-250 { padding: 250px 0  !important; }
.ptb-300 { padding: 300px 0  !important; }
.ptb-350 { padding: 350px 0  !important; }

.pt-5 { padding-top: 5px !important;}
.pt-10 { padding-top: 10px !important;}
.pt-20 { padding-top: var(--rem-20px) !important;}
.pt-30 { padding-top: 30px !important;}
.pt-40 { padding-top: 40px !important;}
.pt-50 { padding-top: var(--rem-50px) !important;}

.pb-5 { padding-bottom: 5px !important;}
.pb-10 { padding-bottom: 10px !important;}
.pb-20 { padding-bottom: 20px !important;}
.pb-30 { padding-bottom: 30px !important;}
.pb-40 { padding-bottom: 40px !important;}
.pb-80 { padding-bottom: var(--rem-80px) !important;}

/***** Text *****/

.t-rw {overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; display:-webkit-box;  -webkit-box-orient:vertical; -moz-box-orient:vertical; word-break:break-all; word-wrap:break-word;}
.rw-1 {-webkit-line-clamp:1;}
.rw-2 {-webkit-line-clamp:2;}
.rw-3 {-webkit-line-clamp:3;}
.rw-5 {-webkit-line-clamp:5;}
.c {-webkit-line-clamp:3;}

.txt-lowercase { text-transform: lowercase;}
.txt-uppercase { text-transform: uppercase;  }
.txt-capitalize { text-transform: capitalize; }

.hover-gradi:hover { background: linear-gradient(to left, #13a292, #1396a2) !important; }    
.hover-shadow:hover {  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.15); }

.txt-l{text-align:left !important;}
.txt-c{text-align:center !important;}
.txt-r{text-align:right !important;}
.ver-t{vertical-align:top !important;}
.ver-m{vertical-align:middle !important;}
.ver-b{vertical-align:bottom !important;}
.txt-line{text-decoration:underline !important;}

/***** Border Radius *****/

.rounded-0 { border-radius: 0;}
.rounded-10 { border-radius: 10px;}
.rounded-15 { border-radius: 15px;}
.rounded-20 { border-radius: 20px;}
.rounded-25 { border-radius: 25px;}
.rounded-30 { border-radius: 30px;}
.rounded { border-radius: 50%;}


/***** Transition *****/

.move {transition:all .4s ease; -webkit-transition:all .4s ease; -ms-transition:all .4s ease; -moz-transition:all .4s ease; -o-transition:all .4s ease; }
.move-cubic {transition:all .4s cubic-bezier(0.05, 0.82, 0.165, 1); -webkit-transition:all .4s cubic-bezier(0.05, 0.82, 0.165, 1); -ms-transition:all .4s cubic-bezier(0.05, 0.82, 0.165, 1); -moz-transition:all .4s cubic-bezier(0.05, 0.82, 0.165, 1); -o-transition:all .4s cubic-bezier(0.05, 0.82, 0.165, 1); }
.move-fast {transition:all .2s ease; -webkit-transition:all .2s ease; -ms-transition:all .2s ease; -moz-transition:all .2s ease; -o-transition:all .2s ease; }

/***** Image Box *****/

.back-img {background-repeat:no-repeat; background-size:cover; background-position:50% 50%;}
.basic-img {opacity:0; visibility:hidden; height:auto; width: 100%;}

.object-fit-cover { object-fit: cover; }
.object-fit-fill { object-fit: fill; }
.object-fit-contain { object-fit: contain; }
.object-fit-none { object-fit: none; }


/***** Overflow Scrollbar *****/

.overflow-scroll { overflow-y: scroll; }
.overflow-scroll::-webkit-scrollbar { width: 6px; height: 1px;}
.overflow-scroll::-webkit-scrollbar-track { background: transparent;}
.overflow-scroll::-webkit-scrollbar-thumb { background: rgba(230, 0, 19, 0.2);}

.scroll-out {-ms-overflow-style: none; scrollbar-width: none;}
.scroll-out::-webkit-scrollbar {display: none;}

/***** Position *****/
.p-relative { position: relative; }
.p-absolute { position: absolute; }
.p-center { top: 50%; left: 50%; transform: translate(-50%, -50%);  -webkit-transform: translate(-50%, -50%);  -o-transform: translate(-50%, -50%);  -ms-transform: translate(-50%, -50%);  -moz-transform: translate(-50%, -50%);}
.x-center { left: 50%; transform: translateX(-50%);  -webkit-transform: translateX(-50%);  -o-transform: translateX(-50%);  -ms-transform: translateX(-50%);  -moz-transform: translateX(-50%); }
.y-center { top: 50%; transform: translateY(-50%);  -webkit-transform: translateY(-50%);  -o-transform: translateY(-50%);  -ms-transform: translateY(-50%);  -moz-transform: translateY(-50%); }

.tb {display:table;width:100%; height:100%}
.tbc {display:table-cell;width:100%; height:100%; vertical-align:middle; }


/***** Box Shadow *****/

.shadow:hover { box-shadow: 10px 10px 16px 0px rgb(0 0 0 / 14%) }
.shadow-hover:hover { box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 14%) }

/***** video *****/
.video_wrap {width:100%; padding-bottom:56.25%; box-sizing:border-box; position:relative;  /*margin: 20px 0;*/ border:0;}
.video_wrap video, .video_wrap iframe, .video_wrap embed {position:absolute; left:0; top:0; width:100%; height:100%; border:0; outline:0;}


/***** radio_box & check_box *****/

.radio-wrap span, 
.check-wrap span { font-size:var(--rem-16px); font-weight: 500; line-height: 1.3636; display: inline-block;}


/***** radio_box *****/
.radio-box{ position:relative;line-height: 1;}
.radio-box > input[type="radio"]{width:1px; height:1px; margin:-1px; position:absolute; clip: rect(0, 0, 0, 0); overflow:hidden; line-height: 1;}
.radio-box > input[type="radio"] ~ label{display: block; line-height: 1.6; padding-left:26px; box-sizing:border-box; position:relative; font-size:var(--rem-16px); font-weight:400; color:var(--font-base-color); cursor:pointer;}
.radio-box > input[type="radio"]:checked ~ label{color:var(--point-color);}
.radio-box > input[type="radio"] ~ label:before{display:block; content:''; clear:both; width:20px; height:20px; border-radius:10px; border:1px solid rgb(141 169 168 / 80%); padding:4px; box-sizing:border-box; background-color:#fff; position:absolute; /*top:50%; margin-top:-10px;*/ top: 3px; left:0; z-index:0;}
.radio-box > input[type="radio"]:checked ~ label:after{display:block; content:''; clear:both; width:10px; height:10px; border-radius:5px; background:var(--point-color); position:absolute; top:50%; margin-top:-5px; left:5px; z-index:5;}

.radio-items .radio-box{ position:relative !important; left:0 !important; top: 0 !important; transform: translate(0, 0) !important;}
.radio-items .radio-box{float: left !important; margin-left: 25px !important;}
.radio-items .radio-box:first-child{margin-left: 0 !important;}


/***** check_box *****/
.check-box{ position:relative;line-height: 1;}
.check-box > input[type="checkbox"]{width:1px; height:1px; margin:-1px; position:absolute; clip: rect(0, 0, 0, 0); overflow:hidden; line-height: 1;}
.check-box > input[type="checkbox"] ~ label{display: block; line-height: 1.6;  padding-left:26px; box-sizing:border-box; position:relative; font-size:var(--rem-16px); font-weight:400; color:var(--font-base-color); cursor:pointer;}
.check-box > input[type="checkbox"]:checked ~ label{color:var(--point-color);}
.check-box > input[type="checkbox"] ~ label:before{display:block; content:''; clear:both; width:20px; height:20px; border-radius:3px; border:1px solid rgb(141 169 168 / 80%); box-sizing:border-box; background-color:#fff; position:absolute; /*top:50%; margin-top:-10px;*/ top: 3px; left:0; z-index:0;}
.check-box > input[type="checkbox"]:checked ~ label:before{ background-image:url('../img/common/ico_check.svg'); background-size:12px 12px; background-repeat:no-repeat; background-position:center;}

.check-items .check-box{ position:relative !important; left:0 !important; top: 0 !important; transform: translate(0, 0) !important;}
.check-items .check-box{float: left !important; margin-right: 25px !important;}
.check-items .check-box:last-child{margin-right: 0 !important;}
.check-items .check-box label {  padding-left: 26px !important; font-size: var(--rem-16px) !important; }


/***** The Rest *****/

.obj-full{width:100%; height:100%; object-fit:cover; object-position:center;}
.hidden {text-indent:-9999px; width:0px; height:0px; line-height:0px; font-size:0px; opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); overflow:hidden; visibility:hidden;}
.ct-out{width:1px; height:1px; margin:-1px; position:absolute; clip: rect(0, 0, 0, 0); overflow:hidden;}
.ct-zero{font-size:0; text-indent:-9999px;}

.required { color: #F00004;  font-weight: 400; font-size: 1.8rem !important;  display: inline-block !important;  width: 10px;  height: 30px;  line-height: 32px;  vertical-align: middle;}
.required > span {  width: 0;  height: 0;  visibility: hidden;  opacity: 0;  filter: alpha(opacity=0);  -ms-filter: alpha(opactiy=0);}

.clearFix::after {
    content: '';
    display: block;
    clear: both;
}

.video-box {
    width: 100%;
    padding-bottom: 56.24%;
    box-sizing: border-box;
    position: relative;
    border: 0;
}

.video-box video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
}

/**** nice-select ****/
.select-drop { float: none;  margin: 0px;height: 40px !important; min-width: 180px !important;max-width: 100%;font-weight: 500 !important;color: #000000 !important;padding: 0 15px;background-color: #fff !important;border: 1px solid #e8e8e8 !important;}
.select-drop .list {width : 100%;max-height: 395px; overflow-y: auto;}
.select-drop.open {  border: 1px solid #1ea292 !important;   box-shadow: 5px 5px 10x 0px rgba(18, 75, 68, 0.3);}
.select-drop .option:hover, 
.select-drop .option.focus, 
.select-drop .option.selected.focus {  background-color: #edf8f6;  color: #1ea292;}
.select-drop.slide .list {opacity: 1;top: 40px;-webkit-transform: scale(1) translateY(0px);-ms-transform: scale(1) translateY(0px);transform: scale(1) translateY(0px);display: none;-webkit-transition: none; transition: none;}


/***** Size *****/

.wid10{width:10%;}
.wid20{width:20%;}
.wid30{width:30%;}
.wid40{width:40%;}
.wid50{width:50%;}
.wid60{width:60%;}
.wid70{width:70%;}
.wid80{width:80% !important;}
.wid90{width:90%;}
.wid100{width:100%;}

.hgt10{height:10%;}
.hgt20{height:20%;}
.hgt30{height:30%;}
.hgt40{height:40%;}
.hgt50{height:50%;}
.hgt60{height:60%;}
.hgt70{height:70%;}
.hgt80{height:80%;}
.hgt90{height:90%;}
.hgt100{height:100%;}

.max100 {max-width:100px !important;}
.max150 {max-width:150px !important;}
.max200 {max-width:200px !important;}
.max220 {max-width:220px !important;}
.max250 {max-width:250px !important;}
.max300 {max-width:300px !important;}
.max350 {max-width:350px !important;}
.max400 {max-width:400px !important;}
.max450 {max-width:450px !important;}
.max500 {max-width:500px !important;}
.max550 {max-width:550px !important;}
.max600 {max-width:600px !important;}
.max650 {max-width:650px !important;}
.max700 {max-width:700px !important;}
.max750 {max-width:750px !important;}
.max800 {max-width:800px !important;}
.max850 {max-width:850px !important;}
.max900 {max-width:900px !important;}
.max950 {max-width:950px !important;}
.max1000 {max-width:1000px !important;}

.min1000 {min-width:1000px !important;}
.min1100 {min-width:1100px !important;}
.min1200 {min-width:1200px !important;}
.min1300 {min-width:1300px !important;}
.min1400 {min-width:1400px !important;}
.min1500 {min-width:1500px !important;}
.min1600 {min-width:1600px !important;}
.min1700 {min-width:1700px !important;}
.min1800 {min-width:1800px !important;}
.min1900 {min-width:1900px !important;}
.min2000 {min-width:2000px !important;}

/***** input *****/

input, 
select,
textarea {
    font-size: var(--rem-16px);
    height: var(--rem-40px);
    padding: 0px var(--rem-20px);
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(141 169 168 / 80%) !important;
    background-color: #ffffff;
}

textarea {
    padding: var(--rem-20px);
    height: var(--rem-200px);
}

.btn {
    display: block;
    height: var(--rem-40px);
    line-height: var(--rem-40px);
    background-color: var(--base-color);
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: var(--rem-16px);
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}


.serif { font-family: var(--font-family-serif); }
.ubuntu { font-family: var(--font-family-ubuntu); }
.libre-franklin { font-family: var(--font-family-libre-franklin); }
.poppins { font-family: var(--font-family-poppins); }
.figtree { font-family: var(--font-family-figtree); }


/* ==================================================
	font
================================================== */

.fs-18px { font-size: var(--rem-18px);} 
.fs-16px { font-size: var(--rem-16px);} 
.fs-14px { font-size: var(--rem-14px);} 

.block { display: block;}

.font-bold-300 { font-weight: 300 !important;}

.lh-1 { line-height: 1;}
.lh-12 { line-height: 1.2;}
.lh-13 { line-height: 1.3;}


/* ==================================================
	common
================================================== */


.xl-none { display: block; }
.lg-none { display: block; }
.md-none { display: block; }
.sm-none { display: block; }

.xl-block { display: none; }
.lg-block { display: none; }
.md-block { display: none; }
.sm-block { display: none; }

.fc-white {
    color: #fff;
}

.fc-font {
    color: var(--font-base-color) !important;
}

.bg-color-white {
    background: #fff;
}

.bg-color-sky {
    background: rgb(193, 211, 228);
}

.bg-color-gray {
    background: #f1f1f1;
}

.bg-color-point {
    background: var(--base-color);
}

.bg-color-point .con-tit h3,
.bg-color-point .con-wrap .con-txt {
    color: #fff;
}

.bg-color-point .top-line::before {
    border-top: 3px solid #fff;
}

.con-tit  {
    text-align: center;
}

.con-tit h1 {
    display: inline-block;
    font-size: var(--rem-50px);
    font-weight: 700;
    line-height: 1;
}

.con-tit h2 {
    display: inline-block;
    font-family: var(--font-family-figtree);
    font-size: var(--rem-40px);
    font-weight: 700;
    line-height: 1;
}

.con-tit h3 {
    display: inline-block;
    font-size: var(--rem-30px);
    font-weight: 300;
    line-height: 1.2;
}

.con-tit h2 strong {
    display: inline-block;
    padding:  var(--rem-5px) var(--rem-10px);
    background: #000;
    color: #fff;
}

.con-tit span {
    display: block;
    font-size: var(--rem-20px);
    font-weight: 300;
}

.con-wrap {    
    padding-top: var(--rem-30px);
}

.top-line {
    margin-top: var(--rem-30px) !important;
    position: relative;
}

.top-line::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -22.5px;
    width: 45px;
    border-top: 3px solid var(--base-color);
}

.con-wrap .con-txt {
    padding: 0 var(--rem-30px) var(--rem-50px);
    font-size: var(--rem-18px);
    text-align: center;
}


.con-wrap .txt-add,
.box-txt {
    font-size: var(--rem-18px);
    text-align: center;
}

.con-wrap .btn-basic {
    max-width: 300px;
    margin: 0 auto;
    font-size: var(--rem-14px);
    border-radius: var(--rem-20px);
}

.con-wrap .btn-basic:hover {
    background: var(--base-color-hover);
}

/* ==================================================
	header
================================================== */

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: var(--header-bg-color);
    box-shadow: var(--shd, 0 0 5px rgba(0, 0, 0, .5));
    transition: all .3s ease;
    text-align: center;
}


#header.fixed {
    /* background: rgba(255, 255, 255, 0.8); */
}

#header .inner {
    height: var(--header-pc-height);    
}

#header .inner .col-inner {
    width: 100%;
    max-width: calc(980px + 40px);
    margin: 0 auto;
}

#header  .logo {
    margin-top: var(--rem-30px);
    font-family: var(--font-family-ubuntu);
    font-size: var(--rem-35px);
    font-weight: 700;
    line-height: 1;
    color: var(--font-base-color);
} 

#header span {
    display: block;
    font-size: var(--rem-20px);
}

#header span.sub-tit {
    display: inline-block;
    padding:  0 var(--rem-10px);
    margin-top: var(--rem-10px);
    background: #000;
    color: #fff;
    font-weight: 300;
}

#header span.call-us {
    margin-top: var(--rem-20px);
    font-weight: 400;
    font-family: var(--font-family-poppins);
}

#header .gnb {
    width: 100%;
    margin: var(--rem-20px) auto 0;
}

#header .gnb::before {
    content: '';
    display: none;
    width: 83.3%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1100;
}

#header .gnb.on::before { 
    display: block;
}

#header .gnb ul.gnb-items {
    width: 100%;
}

#header .gnb ul.gnb-items > li {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding:  var(--rem-15px) 0;
    font-size: var(--rem-14px);
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background: var(--base-color);
}

#header .gnb ul.gnb-items > li:first-child {
    border-radius: 20px 0 0 20px;
}

#header .gnb ul.gnb-items > li:last-child {
    border-radius: 0 20px 20px 0;
}

#header .gnb ul.gnb-items > li > a {
    display: block;
}

#header .gnb ul.gnb-items > li.on {
    background: var(--dark-color);
    color: #fff;
    font-weight: 700;
}

#header .gnb ul.gnb-items > li:hover {
    background: lightgray;
    color: #fff;
}

#header .mo-menu-btn {
    display: block;
    position: absolute;
    top: calc(calc(var(--header-mobile-height) - var(--rem-50px)) / 2);
    /* top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    right: var(--rem-20px);
    width: var(--rem-50px);
    height: var(--rem-50px);
    z-index: 9999;
    cursor: pointer;
}

#header .mo-menu-btn .btn-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

#header .mo-menu-btn span {
    display: block;
    width: 100%;
    height: var(--rem-8px);
    background: var(--base-color);    
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#header .mo-menu-btn.on span {
    /* background: #fff; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
}

#header .mo-menu-btn.on span:nth-child(1) {
    opacity: 0;
}

#header .mo-menu-btn.on span:nth-child(2) {
    height: var(--rem-5px);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%)  rotate(-45deg);
            transform: translate(-50%, -50%)  rotate(-45deg);
}

#header .mo-menu-btn.on span:nth-child(3) {
    height: var(--rem-5px);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}

#header .gnb-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1001;
}

/* ==================================================
	footer
================================================== */

#footer .inner {
    padding: var(--rem-10px) 0;
    font-size: var(--rem-16px);
    text-align: center;
}


/* ==================================================
	box-list
================================================== */

.box-wrap h3 {
    margin-bottom: var(--rem-20px);
    font-size: var(--rem-30px);
}

.box-wrap h4 {
    margin-bottom: var(--rem-20px);
    font-size: var(--rem-22px);
}

.box-list {
    /* gap : 10px */
}

.box-list.item-3 li {    
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
}

.box-list.item-4 li {    
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.box-list.item-5 li {    
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.box-list .box-inner {
    box-sizing: border-box;
    text-align: center;
}

.box-list .box-inner.padding {
    padding: var(--rem-20px) var(--rem-20px) var(--rem-100px);
}

.box-list figure {
    text-align: center;
    font-size: var(--rem-40px);
}

.box-list figure.img-box {
    width: 100%;
    aspect-ratio: 1.5 / 1;
}

.box-list figure.img-round {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    background: #fff;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    overflow: hidden;
}

.box-list figure.img-round.wid-auto {
    width: auto;
}

.box-list figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box-list li h4 {    
    margin-top: var(--rem-10px);
    font-size: var(--rem-20px);
    font-weight: 700;
    line-height: 1.3636;
}

.box-list li h5 {    
    margin-top: var(--rem-10px);
    font-size: var(--rem-18px);
    font-weight: 400;
    line-height: 1.3636;
}

.box-list li p {
    margin-top: var(--rem-10px);
    font-size: var(--rem-16px);
    line-height: 1.3636;
}

.box-list li span {
    display: block;
    margin-top: var(--rem-20px);
    text-align: center;
    font-size: var(--rem-35px);
    font-weight: 700;
    color: var(--point-color);
}

.hover-color > * {
    cursor: pointer;
}

.hover-color > *:hover h3,
.hover-color > *:hover h4,
.hover-color > *:hover p,
.hover-color > *:hover span,
.hover-color > *:hover b {
    color: var(--point-color) ;
}

.box-list li .bg-color-white {
    padding: var(--rem-20px) var(--rem-20px) var(--rem-80px);
} 

.box-txt ul li {
    padding: 0 var(--rem-20px);
    font-size: var(--rem-18px);
}

.box-txt ul li strong {
    display: block;
}

.bg-color-white .box-list li {
    background: rgb(193, 211, 228);
    text-align: center;
}

.bg-color-white .box-list li p {
    color: #fff;
}

.box-list.summary-list {
    max-width: var(--inner-max-width-small);
    margin: 0 auto;
}

.box-wrap.full {
    padding: var(--rem-20px) var(--rem-50px);
    background: #f1f1f1;
}

.box-wrap.full.full-gray li {
    background: transparent;
}

.box-wrap.white-box .what-list > li {
    background: #fff;
}

.box-wrap.full .box-list {
    gap: 0;
}

.box-wrap + .box-wrap {
    margin-top: var(--rem-30px);
}

.box-wrap + .box-wrap.top-line {
    padding-top: var(--rem-30px);
}

.box-wrap + .con-txt {
    margin-top: var(--rem-50px);
    padding-bottom: 0;
}


.contact-box {
    padding: var(--rem-10px) var(--rem-20px);
    border-radius: 5px;
}

.bg-color-white .contact-box {
    border: 1px solid var(--base-color);
}

.contact-box .input-box input,
.contact-box .input-box textarea  {
    width: 100%;
    resize: none;
}

.contact-box .btn {
    margin-top: 0;
    background: var(--base-color);    
}

.bg-color-point .contact-box .btn {
    background: var(--bg-base-color);
    color: var(--font-base-color) !important;
}

.contact-box .btn:hover {
    font-weight: 700;
}

.review-summary {
    margin-top: var(--rem-30px);
    padding:  var(--rem-5px) var(--rem-10px);
    background: #000;
    color: #fff;
}

.review-summary > * {
    display: inline-block;
    font-size: var(--rem-20px);
    font-weight: 500;
    color: var(--point-color);
    line-height: 1;
    vertical-align: middle;
}

.review-summary .star-box {
    color: #ffbf00;
}


/* ==================================================
                    search-area
================================================== */


.search-area {
    margin-top: 20px;
}

.search-area .input-box {
    position: relative;
    width: calc(100% - var(--rem-200px) - 10px);
}

.search-area .input-box figure {
    position: absolute;
    left: var(--rem-25px);
    margin: 0;
    padding: 0;
    font-size: var(--rem-16px);
    color: #9CA3AF;
}

.search-area .input-box input {
    width: 100%;
    height: var(--rem-60px);
    padding: 0px var(--rem-50px);
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(141 169 168 / 80%) !important;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.search-area .input-box #suggestions {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% - 2px);
    width: 100%;
    background: #fff;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    max-height: var(--rem-200px);
    overflow: hidden auto;
    text-align: left;
}

.search-area .input-box #suggestions.on {
    display: block;
}

.search-area .input-box #suggestions li {
    font-size: var(--rem-18px);
    padding: var(--rem-10px) var(--rem-20px);
    cursor: pointer;
}

.search-area .input-box #suggestions li:hover {
    font-weight: 500;
}

.search-area #searchBtn {
    display: block;
    width: var(--rem-200px);
    height: var(--rem-60px);
    margin-left: 10px;
    background-color: var(--base-color);
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: var(--rem-16px);
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

/******************************************/


.why-box {
    max-width: var(--inner-max-width-small);
    margin: 0 auto;
    font-family: var(--font-family-serif);
    font-size: var(--rem-18px);
}

.why-box b {
    font-family: var(--font-family-base);
}

.why-box .why-list {
    padding-right: var(--rem-50px);
    box-sizing: border-box;
}

.why-box .why-list .depth1 > li,
.why-box .why-list .depth2 > li {
    position: relative;
    padding-left: 15px;
}

.why-box .why-list .depth1 > li::before,
.why-box .why-list .depth2 > li::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--base-color);
}

.why-box .why-list .depth2 > li::before {
    background: none;
    border: 1px solid var(--base-color);
}

.why-box .why-list .depth2 {
    margin-left: 5px;
}

.why-box .why-add {
    background: var(--base-color);
    color: #fff;
    padding: var(--rem-20px) var(--rem-30px);
    line-height: 1.6;
    box-sizing: border-box;
}

/************************************/

figure.img-box {
    /* width: 100%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    overflow: hidden; */
}


figure.img-box img {
    width: 100%;
    /* height: 100%;
    object-fit: cover; */
}

.thumbnail {
    margin: 0 auto;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    overflow: hidden;
    position: relative;
}

.thumbnail.normal {
    aspect-ratio: 1 / 1;
}
.thumbnail.big {
    aspect-ratio: 1 / 0.7;
}
.thumbnail.small {
    /* aspect-ratio: 1 / 0.7; */
}

.thumbnail.mid {
    aspect-ratio: 1 / 1.25;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.board-wrap .big .desc-box .desc {
    min-height: var(--rem-50px);
}

.board-wrap .small ul {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column  !important;
    flex-direction: column !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    gap : var(--rem-20px)
}

.board-wrap .small ul  li {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
}

.board-wrap .small ul  li .col-inner {
    height: 100%;
}

.board-wrap .small .col-inner .thumbnail {
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.board-wrap .small .col-inner .desc-box {
    width: calc(100% - 200px - 20px);
    margin-left: 20px;
}