@charset "utf-8"; 



/* ==================================================
	main-visual
================================================== */


.main-visual .parallax-area {
    position: relative;
    /* height: calc(100svh - var(--header-pc-height)) ; */
    height: 100svh;
    overflow: hidden;
}

.main-visual .parallax-area .parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%; /* 약간의 여유 공간을 줘야 스크롤에 효과적으로 반응합니다. */
    background-image: url(../img/main/bg_main_visual.jpg\ 5x);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; 
}

/* ==================================================
    .main-section
================================================== */

.main-section {
    position: relative;
    z-index: 1;
}