@charset "utf-8"; 

.pc{display:block;} /*pc 노출 = 테블릿, 모바일 미노출*/
.pcta{display:block;} /*pc, 테블릿 노출 = 모바일 미노출*/
.mo{display:none !important;} /*모바일 노출 = pc,테블릿 미노출*/
.ta{display:none !important;} /*테블릿, 모바일 노출 = pc 미노출*/


@media (max-width: 1280px){ 

    .xl-none { display: none; }
    .xl-block { display: block; }

    .br-1280px-none br{ display: none; }

    .sub-visual .parallax-area .parallax-bg {
        background-position: right 40% center;
    }
}

@media (max-width: 1024px){
    .pcta{display: none !important;}
    .ta{display:block !important;}

    
    /******************************************/

    .p-relative.type2 .swiper-button-prev {
        left: 0!important;
    }

    .p-relative.type2 .swiper-button-next {
        right: 0;
    }



    /******************************************/

    .agent-box {
        padding: 0 var(--rem-50px);
    }
}



@media (max-width: 960px){ 

    .lg-none { display: none; }
    .lg-block { display: block; }

    
    /**********************************************/

    .calculator-box .way-toggle li {
        font-size: calc(var(--rem-22px) * 0.8);
    }

}


@media (max-width: 768px) {

    html {
        font-size: 80%;
    }

	.pc{display: none !important;}
    .mo{display:block !important;}
    
    .br-768px-none br{ display: none; }

    .md-none { display: none; }
    .md-block { display: block; }

    /***************************************/

    .mt-40 {margin-top: var(--rem-10px) !important;}

    .mt-50 { margin-top: calc(var(--rem-50px) * 0.8) !important;}
    .pt-50 { padding-top: calc(var(--rem-50px) * 0.8) !important;}
    .pb-80 { padding-bottom: calc(var(--rem-80px) * 0.8) !important;}

    #subPage.news, #subPage.post {
        margin-top: var(--header-mobile-height);
    }

    section .inner {
        padding: var(--rem-40px) var(--rem-20px);
    }
    
    .con-tit h1 {
        font-size: calc(var(--rem-50px) * 0.8);
    }

    .con-tit h2 {
        font-size: calc(var(--rem-40px) * 0.8);
    }

    .con-tit h3 {
        font-size: calc(var(--rem-30px) * 0.8);
    }

    .con-tit span {
        font-size: calc(var(--rem-20px) * 0.8);
    }

    .con-wrap {    
        padding-top: calc(var(--rem-30px) * 0.8);
    }

    .con-wrap .con-txt {
        padding: 0 var(--rem-30px)  calc(var(--rem-50px) * 0.8);
    }

    .top-line {
        margin-top: calc(var(--rem-30px)  * 0.8) !important;
    }
        
    /* .con-wrap .con-txt {        
        font-size: calc(var(--rem-18px) * 0.8);
    }

    .con-wrap .txt-add,
    .box-txt {
        font-size: calc(var(--rem-18px) * 0.8);
    }

    .con-wrap .btn-basic {
        font-size: calc(var(--rem-14px) * 0.8);
    } */


    /***************************************/

    #header .inner {
        height: var(--header-mobile-height);   
    }

    #header .logo {
        margin-top: 0;
        text-align: left;
        font-size: var(--rem-25px);
    } 

    #header .call-us {
        width: 80%;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1100;
    }
    
    #header .gnb {
        position :fixed;
        top: 0;
        left: 200%;
        margin: 0;
        height: 100svh;
        padding-left: 20%;
        z-index: 1100;
    }

    #header .gnb .gnb-inner {
        height: 100%;
        padding-top: var(--header-mobile-height);
        position: relative;
        box-sizing: border-box;
    }

    #header .gnb ul.gnb-items {
        width: 100%;        
        position: relative;
        -ms-flex-direction: column  !important;
        flex-direction: column !important;
        z-index: 1100;
    }

    #header .gnb ul.gnb-items > li {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        background: transparent;
        color: var(--font-base-color);
        text-align: left;
        padding:  var(--rem-15px) var(--rem-30px);
        box-sizing: border-box;
    }

    #header .gnb ul.gnb-items > li:first-child,
    #header .gnb ul.gnb-items > li:last-child {
        border-radius: 0;
    }


    /***************************************/

    .box-wrap h3 {
        font-size: calc(var(--rem-30px) * 0.8);
    }
    
    .box-wrap h4 {
        font-size: calc(var(--rem-22px) * 0.8);
    }
        
    .box-list li .bg-color-white {
        padding: var(--rem-20px) var(--rem-20px) var(--rem-50px);
    } 

    .box-list .box-inner.padding {
        padding: var(--rem-20px) var(--rem-20px) var(--rem-50px);
    }
    
    .box-wrap.full {
        padding: var(--rem-20px);
    }

    .box-list figure {
        font-size: calc(var(--rem-40px) * 0.8);
    }

    .box-list li h4 {    
        font-size: calc(var(--rem-20px) * 0.8);
    }

    /* .box-list li h5 {    
        font-size: var(--rem-18px) * 0.8;
    }

    .box-list li p {
        font-size: var(--rem-16px) * 0.8;
    } */

    .box-list li span {
        font-size: calc(var(--rem-35px) * 0.8);
    }

    /* .box-txt ul li {
        font-size: var(--rem-18px) * 0.8;
    } */

    .review-summary > * {
        font-size: calc(var(--rem-20px) * 0.8);
    } 


    /***************************************/

    .board-wrap .small .col-inner .thumbnail {
        aspect-ratio: 1 / 0.6;
    }

    .contents-inner .row.img-right,
    .contents-inner .row.img-left {
        -ms-flex-direction: column  !important;
        flex-direction: column !important;
    }

    .contents-inner .layout figure {
        width: 100%;
        min-width: auto !important;
        max-width: none !important;
        overflow: visible;
        text-align: center;
    }
    
    .contents-inner .layout figure img {
        height: auto;
        object-fit: initial;
    }

    .contents-inner .row-float.img-left figure,
    .contents-inner .row-float.img-right figure {
        float: none; 
        margin-right: 0;
        margin-left: 0;
        min-width: auto !important;
        max-width: none !important;
    }

    /**********************************************/

    .sub-visual .parallax-area .parallax-bg {
        background-position: right 35% center;
    }

    #subPage.finder {
        padding-top: var(--header-mobile-height);
    }

    /**********************************************/

    .step-box .mt-40 {
        margin-top: var(--rem-40px) !important;
    }

    .board-area {
        padding: var(--rem-20px);
    }

}

@media (max-width: 560px){
    .sm-none { display: none; }
    .sm-block { display: block; }

    .br-560px-none br{ display: none; }

    /***************************************/

    .row-column-560px {
        -ms-flex-direction: column  !important;
        flex-direction: column !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
}

@media (max-width: 480px){


    .br-480px-none br{ display: none; }

    /***************************************/

    .row-column-480px {
        -ms-flex-direction: column  !important;
        flex-direction: column !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .search-area {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .search-area .input-box {
        width: 100%;
    }

    .search-area #searchBtn {
        width: 100%;
        margin-left: -0;
        margin-top: var(--rem-10px);
    }

    .calculator-box .cal-area {
        padding: var(--rem-20px);    
    }

    .calculator-box .cal-area .target-box {
        padding: 0 0 var(--rem-20px) 0;   
    }

    .calculator-box .cal-area .commission-box {
        padding: var(--rem-20px) 0 0 0;   
    }

    .guideSwiper .swiper-slide-active figure {
        box-shadow : none;
    }
}

@media (max-width: 375px){

    html {
        font-size: 75%;
    }

    #header .mo-menu-btn {
        right: var(--rem-10px);
    }

    .inner {
        padding: 0 var(--rem-10px);
    }

    .br-375px-none br{ display: none; }
}