@charset "utf-8"; 

@media (max-width: 768px) {
    .board-wrap .small .col-inner .thumbnail {
        aspect-ratio: 1 / 0.6;
    }

    .contents-inner .row.img-right,
    .contents-inner .row.img-left {
        -ms-flex-direction: column  !important;
        flex-direction: column !important;
    }

    .contents-inner .layout figure {
        width: 100%;
        min-width: auto !important;
        max-width: none !important;
        overflow: visible;
        text-align: center;
    }
    
    .contents-inner .layout figure img {
        height: auto;
        object-fit: initial;
    }

    .contents-inner .row-float.img-left figure,
    .contents-inner .row-float.img-right figure {
        float: none; 
        margin-right: 0;
        margin-left: 0;
        min-width: auto !important;
        max-width: none !important;
    }
}
